<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/account.css">
</head>
<body>
    <div id ="container">
        <header>
            <div class="header-container">
                <div class="header-left-container">
                    <div class="nav-menu-button">
                        <a class="nav-menu-button-link" href="">SHOP</a>
                    </div>
                    <div class="find-pdt-button">
                        <div class="find-button">상품찾기
                            <img src="/static/images/header/find.png" alt="더보기">
                        </div>
                    </div>
                </div>
                <div class="header-mid-container">
                    <div class="site-logo">
                        <img class="site-logo-img" src="/static/images/header/site_logo.png" alt="logo">
                    </div>
                </div>
                <div class="header-right-container">
                    <ul>
                        <li><a class="header-login-button" href="/account/login">로그인</a></li>
                        <li><a class="header-regist-button" href="/account/register">회원가입</a></li>
                        <li><a class="header-cart-button" href="/board/cart">장바구니</a></li>
                        <li><a class="header-board-button" href="/board/pa">Q&A</a></li>
                    </ul>
                </div>              
            </div>
            <nav class="nav-invisible">
                <div class="site-nav-mega">
                    <a class="site-nav-link" href="/collections/all">ALL</a>
                    <a class="site-nav-link" href="/collections/outer">OUTER</a>
                    <a class="site-nav-link" href="/collections/top">TOP</a>
                    <a class="site-nav-link" href="/collections/pants">PANTS</a>
                    <a class="site-nav-link" href="/collections/shirts">SHIRTS</a>
                    <a class="site-nav-link" href="/collections/shoes">BAG & SHOES</a>
                    <a class="site-nav-link" href="/collections/acc">ACC</a>
                </div>
            </nav>
            <script src="/static/js/header/header.js"></script>
        </header>
        <main>
            <div class="login">
                <h1 class="account-title">MEMBER LOGIN</h1>
                <div class="account-container">
                    <section class="account-new">
                        <h2 class="account-subtitle">JOIN US</h2>
                        <p class="account-content">회원가입을 하시면, 주문조회와 개인정보 관리 및 할인 등의 다양한 혜택을 누리실 수 있습니다.</p>
                        <button type="button" class="btn account-button">회원가입
                        </button>
                    </section>
                    <section class="account-current">
                        <form action="" method="post">
                            <h2 class="account-subtitle">LOGIN</h2>
                            <div class="errors errors-invisible">
                                <ul>
                                    <li>이메일 또는 비밀번호가 잘못되었습니다.</li>
                                </ul>
                            </div>
                            <input type="email" class="account-input" name="username" placeholder="이메일" required>
                            <input type="password" class="account-input" name="password" placeholder="비밀번호" required>
                            <a class="find-password-link" href="">비밀번호를 잊으셨나요?</a>
                            <button type="submit" class="btn account-button">로그인</button>
                            <button type="button" class="snsAccount-button" onclick="location.href='/oauth2/authorization/naver'">NAVER로 로그인</button>
                            <button type="button" class="snsAccount-button" onclick="location.href='/oauth2/authorization/google'">GOOGLE로 로그인</button>
                    </div> 
                    <hr>
                    <div class="submain">
                        <p class="subGuide">*이용자 비밀번호 5회 연속 오류시 계정이 잠기게 됩니다.</p>
                        <p class="subGuide">*오프라인 회원의 경우 온라인 회원가입 후 계정연동이 가능합니다.</p>
                        </form>
                    </section>
                </div>
            </div>
        </main>


        </div>
        </div>
        <script src="/static/js/account/login.js"></script>
</body>
</html>